<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@referendum_wtf">
  <meta name="twitter:creator" content="@referendum_wtf">
  <meta name="twitter:title" content="<%= author %>'s Factogram">
  <meta name="twitter:description" content="Fact: <%= text %>">
  <meta name="twitter:image" content="<%= imageUrl %>">
  <link rel="stylesheet" type="text/css" href="/stylesheets/card.css" />
</head>
<body>
  <p>Here's your Factogram, <%= author %>!</p>
  <div class="card">
    <img src="<%= imageUrl %>" alt="<%= text %>" style="max-width: 500px;"/>
  </div>
  <a target="_blank" href="<%= tweet %>" class="btn btn-lg btn-default">
    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Tweet your factogram!
  </a>
</body>
</html>
