<!DOCTYPE html>
<html>
<head>

  <title><%= author %>'s Factogram</title>

  <!-- CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/card.css">

  <!-- icon -->
  <link rel="icon" type="image/png" href="/img/eu-wtf-circle.png">

  <!-- JS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- <script src="/js/jquery.js"></script> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/js/jquery-image-blob.min.js"></script>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@referendum_wtf">
  <meta name="twitter:creator" content="@referendum_wtf">
  <meta name="twitter:title" content="<%= author %>'s Factogram">
  <meta name="twitter:description" content="Fact: <%= text %>">
  <meta name="twitter:image" content="<%= imageUrl %>">

  <!-- Facebook -->
  <meta property="og:url"           content="<%= cardUrl %>">
  <meta property="og:type"          content="website">
  <meta property="og:title"         content="<%= author %>'s Factogram">
  <meta property="og:description"   content="<%= text %>">
  <meta property="og:image"         content="<%= imageUrl %>" />
  <!-- <meta property="og:image"         content="http://res.cloudinary.com/diihpmlbp/image/upload/v1466542317/wex59f0zzfojpf29h3cf.jpg" /> -->
  <!-- <meta property="og:image:secure_url"         content="http://bit.ly/28LLwig" /> -->
  <!-- <meta property="og:image:secure_url" content="https://referendum-wtf.imgix.net/boris2.jpg?mark=https%3A%2F%2Freferendum-wtf.imgix.net%2F~text%3Ftxt64%3DRkFDVDogwqBBcm91bmQgMS4yIG1pbGxpb24gQnJpdHMg8J-MtCBsaXZlIGFicm9hZMKgaW4gdGhlIEVVLCBhbmQgaGF2aW5nIG1lbWJlcnNoaXAgbWFrZXMgdHJhdmVsIGVhc2llci4%26txtfont%3Davenir-black%26txtalign%3Dcenter%26txtclr%3Dfff%26txtsize%3D30%26txtlead%3D0%26txtpad%3D15%26bg%3D66000000%26w%3D650%26ixlib%3Djs-1.0.3%26s%3D5eda0efea1f2e7fbcf4bacc7268eb0a6&markalign=center%2Cmiddle&txt=I%20back%20%23Bromance&txtfont=avenir-black&txtalign=top%2C%20center&txtsize=48&txtclr=ffcc01&txtline=1&txtlineclr=000&txtpad=40&txtshad=6&fit=crop&blend64=aHR0cDovL3JlZmVyZW5kdW0ud3RmL2ltZy93YXRlcm1hcmsucG5n&bw=800&ba=bottom%2C%20center&balph=100&bm=normal&w=800&h=380&ixlib=js-1.0.3&s=e093b2d9a37bc0b167fcfcf890f1b3e1" /> -->
  <!-- <meta property="og:image"         content="http://referendum-wtf-develop.herokuapp.com/img/generate/nigel.jpg"> -->
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="380">

  <!-- Not sure what these are for? -->
  <!-- <link rel="image_src" type="image/jpeg" href="<%= imageUrl %>" /> -->
  <!-- <link rel="image_src" type="image/jpeg" href="http://referendum-wtf-develop.herokuapp.com/img/generate/nigel.jpg" /> -->

</head>

<body>
  <% include ../partials/nav.ejs %>
  <section>
    <div class="card">
      <h3>Check out <%= author %>'s Factogram!</h3>
      <img src="<%= imageUrl %>" alt="<%= text %>">
      <a target="_blank" href="http://referendum.wtf/issues" class="btn btn-lg btn-primary btn-block">
        <i class="fa fa-external-link-square" aria-hidden="true"></i>&nbsp;&nbsp;Create your own<span class="mobile-hide"> Factogram here</span>
      </a>
      <br>
      <a target="_blank" href="<%= tweet %>" class="btn btn-lg btn-default">
        <i class="fa fa-twitter" aria-hidden="true"></i> Tweet-o-gram
      </a>
      <button class="btn btn-lg btn-default fb-button">
        <i class="fa fa-facebook" aria-hidden="true"></i> Factbook
      </button>
      <button class="btn btn-lg btn-default ig-button">
        <i class="fa fa-instagram" aria-hidden="true"></i> Instafact
      </button>
    </div>
  </section>
  <img id="instaImage" crossOrigin="Anonymous" src="<%= imageUrl %>" style="display:none;">

  <script>

    $(".fb-button").on("click",function(){
        var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=<%= cardUrl %>", "pop", "width=600, height=400, scrollbars=no");
        return false;
    });

    $('.ig-button').click(function()
    {
      var blob = $('#instaImage').imageBlob('image/jpeg').blob()
      var downloadURL = URL.createObjectURL(blob)
      window.open(downloadURL, '_blank')
    })

  </script>
</body>
</html>
